.dashboard-main-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:24px;
    background-color: #F9FAFB;

    .dashboard-main-content{
        padding: 24px;

        

        .dashboard-stats-cont{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 16px;
        }
    }
    
}
