.dashboard-main-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:24px;
    background-color: #F9FAFB;

    .dashboard-main-content{
        padding: 24px;

        .dashboard-top-bar{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            .dashboard-title{
                font-size: 22px;
                font-weight: 700;
                color: #1F2937;
            }
        }

        .dashboard-stats-cont{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 16px;
        }
    }
    
}
