.analytics-section-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    background-color: #111827;

    .analytics-content-cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:64px;
        padding: 80px;

        .analytics-heading-cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;

            h2{
                font-size: 35px;
                font-weight: 700;
                color: #FFFFFF;
            }

            p{
                font-size: 19px;
                font-weight: 400;
                color: #9CA3AF;
            }
        }

        .analytics-cards-cont{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 32px;
        }


    }
}



.circular-progress {
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(#FB923C 0% 75%, #525252 75% 100%);

    .circular-progress-inner{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: #1E293B;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 4px;
        
        .progress-value{
            font-size: 24px;
            font-weight: 700;
            color: #FFFFFF;
        }

        .progress-label{
            font-size: 15px;
            font-weight: 400;
            color: #9CA3AF;
        }
    }

}


.stat-card-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    .stat-card{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 334px;
        height: 48px;
        border-radius: 8px;
        padding: 12px;
        background-color: rgb(55, 65, 81, 0.5);
        
        span{
            font-size: 13px;
            font-weight: 400;
            color: #9CA3AF;
        }

        p{
            font-size: 15px;
            font-weight: 700;
            color: #FFFFFF;
        }
    }
}