.features-section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
    padding: 80px;
    background-color: #F9FAFB;
    .top-cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 16px;
        
        h1{
            font-weight: bold;
            font-size:30px;
        }

        span{
            font-size: 17px;
            color: #6B7280;
        }
    }

    .bottom-cont{
        display: flex;
        gap:32px;
    }
}