.landing-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #fff;
    height: 65px;

    .landing-navbar-logo{
        display: flex;
        align-items: center;
        width: 135px;
        height: 40px;  
        gap: 12px; 

        span{
            font-size:17px;
            font-weight: bold;
        }
    }

    .landing-navbar-links{
        display: flex;
        gap: 48px;
        font-weight: 500;

        a{
            text-decoration: none;
            color: inherit;
            color: #4B5563;
            font-size: 14px;
        }
    }

    .landing-navbar-buttons{
        display: flex;
        gap:16px;

        .landing-navbar-log-in{
            border: none;
            background: none;
            font-weight: 500;
            font-size: 14px;
            color: #374151;
        }

        .landing-navbar-get-started{
            width: 125px;
            height: 44px;
            border-radius: 8px;
            background-color: #2563EB;
            border: none;
            font-size: 14px;
            font-weight: 500;
            color: #FFFFFF;
        }
    }
}

