body.workout-page-body {
    background-color: #F9FAFB;
}

.workout-page-cont {
    display: flex;
    flex-direction: column;
    background-color: #F9FAFB;
    min-height: 100vh;
    padding: 24px 75px;

    .workout-page-content {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .start-workout-cont {
            display: flex;
            gap: 8px;

            .start-workout-btn {
                background-color: #34d399;

                &:hover {
                    background-color: #34d399c9;
                }
            }
        }

        .workout-lists-grid {
            display: grid;
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
            gap: 20px;

            .workout-list-cont {
                display: flex;
                flex-direction: column;
                gap: 20px;
                background-color: #fff;
                border-radius: 14px;
                padding: 20px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

                .workout-list {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .workout-page-cont {
        padding-left: 24px;

        .workout-page-content {
            gap: 20px;

            .workout-lists-grid {
                grid-template-columns: 1fr;

                .workout-list-cont {
                    padding: 18px;
                    gap: 16px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .workout-page-cont {
        padding: 16px;

        .workout-page-content {
            gap: 16px;

            .start-workout-cont {
                flex-direction: column;
            }

            .create-workout-cont {

                .create-workout-btn {
                    justify-content: center;
                    padding: 13px 14px;
                    font-size: 15px;
                }
            }

            .workout-lists-grid {
                .workout-list-cont {
                    padding: 14px;
                    border-radius: 12px;

                    .workouts-card-header h2 {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .workout-page-cont {

        .workout-page-content {
            .start-workout-cont {
                flex-direction: row;
                justify-content: space-around;
                gap: 2px;

                .start-workout-btn {
                    border-radius: 12px;
                    font-size: 15px;
                    padding: 10px;
                }

                .create-workout-btn {
                    border-radius: 12px;
                    font-size: 15px;
                    padding: 10px;
                }
            }

            .workout-lists-grid {
                .workout-list-cont {
                    padding: 12px;

                    .workouts-card-header h2 {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}