.sets-cont{
    width: 398px;
    height: 64px;
    background-color: #F8F9FC;
    border-radius:8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 12px;

    .id-set-cont{
        width: 32px;
        height: 32px;
        background-color: #FFFFFF;
        border-radius: 9999px;
        display: flex;
        justify-content: center;
        align-items: center;

        span{
            font-size:14px;
            font-weight: 700;
            color: #9CA3AF;
        }
    }

    .set-info-cont{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 124px;

        .info-cont{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 4px;
            span{
                font-size: 12px;
                font-weight: 600;
                color: #6B7280;
            }

            p{
                font-size: 16px;
                font-weight: 500;
                color: #111827;
            }
        }
    }

    .set-done-cont{
        display: flex;
        justify-content: center;
        align-items: center;
        
        span{
            width: 24px;
            height: 24px;
            border: 2px solid  #D1D5DB;
            border-radius: 9999px;
        }
        
    }



}